.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.65)),
      url('../../../assets/image/pharama.jpg');
    background-size: cover;
    background-position: center;
    animation: scrollBackground 90s linear infinite;
}
.glass-style {
    background: rgba(250, 247, 247, 0.2);
    backdrop-filter: blur(9px);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }
  .custom-border {
    border: 1px solid #3a3a3a;
    border-radius: 4px;
  }
  
  
  