<body class="banner">
    <div class="content">
<h1>Welcome Receptionist</h1>
<h5>We'll always make time for you</h5>

<button class="btn btn-info" (click)="WayToPatientForm()"><span></span> Add Patient</button>
<button class="btn btn-info" (click)="WayToPatientList()"><span></span> Existing Patient List</button>
<button class="btn btn-info" (click)="WayToAppointmentList()"><span></span> Appointment List</button>
<button class="btn btn-info" (click)="logout()"><span></span> logout</button>

</div>
</body>