#myTable {
	width: 70%; /* Adjust the width as per your requirement */
	margin: 0 auto;
	background-color: #6b6767;
}
input {
	border: 2px solid #333; /* Adjust the border color and size as needed */
  }
  