<div class="container">
    <h3>Forgot PassWord</h3>
</div>
<form [formGroup]="forgotPassword" (ngSubmit)="mailVerify()" class="form-control">
    <!--userName-->

    <div>
        <p>
            <label for="email" class="form-label">Email:</label>
            <input type="text" placeholder="Enter email.." name="email" formControlName="email"
                class="form-control" minlength="3"
                [ngClass]="{'is-invalid':formControls.email.touched&&formControls.email.invalid}">
        </p>

    </div>

    <!--button for login-->
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
    <div *ngIf="error" style="color: red;text-align: left;">
        {{error}}
    
    </div>
</form>

