 
    <body class="bannermedicine">
        
        <div style="margin-right: 5%;">
<!--   
            <input class="form-control"  style="width: 400px; " type="text" placeholder="search text here.." [(ngModel)]="filter"> -->
        
    <button [routerLink]="['../addpmedicine']" class="btn btn-primary" 
    style=" margin-bottom: 10px; margin-left: 980px; margin-top: 30px;">Add Medicine</button>
    <button class="btn btn-primary" (click)="home()"
    style=" margin-bottom: 10px; margin-left: 980px; margin-top: 30px;">Home</button>
    
    <!-- <div style="margin-top: 6%; margin-left: 5%;"><button class="btn btn-info" (click)="ToHome()">HOME</button></div> -->
    <div>  
        <input  style= "margin-top:10px; margin-left: 39%; "  class="form-control w-50 search-input" type="text" placeholder="search text here.." [(ngModel)]="filter">
    </div>
    </div>
    <table class="table table-hover" id="myTable"
    style="margin-top: 30px;">
    <thead class="thead-dark">
          
            <tr>
                <th scope="col">Medicine Name</th>
                <th scope="col">Medicine Number</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let med of medService.pmedicine | filter:filter|paginate:{itemsPerPage:5,currentPage:page}">
             
             <td>{{med.medicineName}}</td>
             <td>{{med.medicineNumber}}</td>
             <td>{{med.quantity}}</td>
             <td>{{med.price}}</td>
             <td>
                <button class="btn btn-info" (click)="updateMedicine(med.medicineId)"
                style="margin-left: 10px">Edit</button>
            </td>
            <td>
            <button class="btn btn-danger" (click)="deleteMedicine(med.medicineId)">Delete</button>
            
            </td>
          
            
             </tr>
        </tbody>
    </table>
    
    <div class ="footer"  style="margin-left: 890px; margin-top: 20px;">
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
    </body>

