 #myTable {
 	width: 70%; /* Adjust the width as per your requirement */
 	margin: 0 auto;
    margin-bottom: 50px;
 	background-color: #DCDCDC;
 }
.bannermedicine {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0, 0, 0.65),
      rgba(0, 0, 0, 0.65)),
      url('../../../assets/image/pharama1223343.jpg');
    background-size: cover;
    background-position: center;
    animation: scrollBackground 90s linear infinite;
  }
  .search-input {
    background-color: rgba(255,255,255,0.5);
    color: black;
  }
  