body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../../../assets/imagesjenisha/labtechnician.jpg');
  background-size: cover;
  background-position: center;
  animation: scrollBackground 90s linear infinite;
  height: 100vh;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: rgba(220,220,220, 0.3);
  padding: 2rem;
  border-radius: 15px;
  height: 100%;
}

.container h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.table th {
  text-transform: uppercase;
  font-weight: bold;
}

.table {
  background-color: rgba(255,255,255,0.5);
}

.table td, .table th {
  vertical-align: middle;
}

.table th {
  text-align: center;
}

.rounded-table {
  border-radius: 15px;
}

.search-input {
  background-color: rgba(255,255,255,0.5);
  color: black;
}
#myTable{
  width: 70%;
  margin: 0 auto;
  background-color: #DCDCDC;
}