#myTable {
	width: 70%; /* Adjust the width as per your requirement */
	margin: 0 auto;
	background-color: #DCDCDC;
}
input {
	border: 2px solid #3f3131; /* Adjust the border color and size as needed */
  }

  select{
	border: 2px solid #3f3131;
  }