<div class="container">
</div>
<form [formGroup]="passWordForm" (ngSubmit)="newPassword()" class="form-control">
    <div>
        <p>
            <label for="otp" class="form-label">Otp:</label>
            <input type="text" placeholder="Enter otp.." name="otp" formControlName="otp"
                class="form-control" 
                [ngClass]="{'is-invalid':formControls.otp.touched&&formControls.otp.invalid}">
        </p>

    </div>

    <div>
        <p>
            <label for="passWord" class="form-label">New Password:</label>
            <input type="text" placeholder="Enter passWord.." name="passWord" formControlName="passWord"
                class="form-control" 
                [ngClass]="{'is-invalid':formControls.passWord.touched&&formControls.passWord.invalid}">
        </p>

    </div>

    <!--button for login-->
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
    <div *ngIf="error" style="color: red;text-align: left;">
        {{error}}
    
    </div>
</form>


